<!DOCTYPE html>
<html lang="en">
<head>
    <div id="header" th:replace="fragments/header"></div>
</head>

<body>

<div th:style="${'flex: 0 0 100%; max-width: 100%;'}" >
    <form id="productForm" action="/product/save" method="post" >
        <label>
            <input type="text" name="category" placeholder="category" required>
            <input type="text" name="brand" placeholder="brand" required>
            <input type="number" name="price" placeholder="price" required>
        </label>
        <button type="submit" >저장하기</button>
    </form>
</div>

</body>
</html>